<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">

	<resultMap id="productResultMap"
		type="com.multi.moneybug.product.ProductDTO">
		<id property="productId" column="productId" />
		<result property="productType" column="productType" />
		<result property="productName" column="productName" />
		<result property="productImg" column="productImg" />
		<result property="productOriprice" column="productOriprice" />
		<result property="indivDiscount" column="indivDiscount" />
		<result property="productSellprice" column="productSellprice" />
		<result property="productInfo" column="productInfo" />
	</resultMap>

	<resultMap id="orderListMap"
		type="com.multi.moneybug.product.OrderDTO">
		<id property="orderSeq" column="orderSeq" />
		<result property="orderId" column="orderId" />
		<result property="userId" column="userId" />
		<result property="orderAt" column="orderAt" />
		<result property="userName" column="userName" />
		<result property="address" column="address" />
		<result property="tel" column="tel" />
		<result property="usedPoint" column="usedPoint" />
		<result property="payPrice" column="payPrice" />
		<result property="payTool" column="payTool" />
		<result property="orderStatus" column="orderStatus" />
	</resultMap>
	
 	<resultMap id="orderDiscountMap"
		type="com.multi.moneybug.product.OrderDiscountDTO">
		<id property="seq" column="seq" />
		<result property="orderId" column="orderId" />
		<result property="productId" column="productId" />
		<result property="productSellprice" column="productSellprice" />
		<result property="productQuantity" column="productQuantity" />
		<result property="indivDiscount" column="indivDiscount" />
		<result property="productCalprice" column="productCalprice" />
	</resultMap> 

	<select id="product_List" resultMap="productResultMap"
		parameterType="productpageDTO">
		select * from
		(select row_number() over(order by PRODUCT_ID asc) as rowNum, p.*
		from product
		p ) as p2
		where rowNum between #{start} and #{end}
	</select>

	<select id="count" resultType="Integer">
		select count(*) from product
	</select>

	<select id="product_detail" parameterType="int"
		resultType="productDTO">
		select * from
		product
		where PRODUCT_ID = #{productId}
	</select>

	<select id="getProductsByIds" parameterType="java.util.List"
		resultMap="productResultMap">
		SELECT *
		FROM product
		WHERE PRODUCT_ID IN
		<foreach item="productId" collection="list" open="("
			separator="," close=")">
			#{productId}
		</foreach>
	</select>

	<select id="manageList" resultMap="productResultMap">
		select * from product
	</select>

	<insert id="insert" parameterType="productDTO"
		useGeneratedKeys="true">
		insert into product
		values (null,#{productType}, #{productName}, #{productImg},
		#{productOriprice}, #{indivDiscount}, #{productSellprice}, #{productInfo})
	</insert>
	
	<select id="orderList" resultMap="orderListMap">
		select * from `order`
	</select>
	
	<select id="myOrderList" resultMap="orderListMap">
		select * from `order` where USER_ID = #{userId}
	</select>
	
 	<select id="getOrderDiscountByOrderId" parameterType="string" resultMap="orderDiscountMap">
		select * from `order_discount`
		where ORDER_ID = #{orderId}
	</select> 
	
 	<select id="getProductNameByProductId" parameterType="int" resultType="String">
		select PRODUCT_NAME from `product`
		where PRODUCT_ID = #{productId}
	</select> 
	
	<update id="updateOrder" parameterType="java.util.Map">
	    update `order`
	    set order_status = #{newStatus}
	    WHERE ORDER_ID = #{orderId}
	</update>

	<insert id="orderInsert"
		parameterType="com.multi.moneybug.product.OrderDTO">
		INSERT INTO `order` VALUES
		(null,
		#{orderId},
		#{userId}, 
		CURRENT_TIMESTAMP, 
		#{userName},
		#{address}, 
		#{tel},
		#{usedPoint}, 
		#{payPrice},
		"inicis",
		"배송준비")
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from product
		where PRODUCT_ID = #{productId}
	</delete>
	
	<update id="update" parameterType="com.multi.moneybug.product.ProductDTO">
	  update product
	  set
	  PRODUCT_TYPE = #{productType},
	  PRODUCT_NAME = #{productName},
	  PRODUCT_IMG = #{productImg},
	  PRODUCT_ORIPRICE = #{productOriprice},
	  INDIV_DISCOUNT = #{indivDiscount},
	  PRODUCT_SELLPRICE = #{productSellprice},
	  PRODUCT_INFO = #{productInfo}
	  where PRODUCT_ID = #{productId}
	</update>
	
 	<insert id="insertOrderDiscount" 
		parameterType="com.multi.moneybug.product.OrderDiscountDTO">
		INSERT INTO `order_discount` VALUES
		(null,
		#{orderId},
		#{productId}, 
		#{productSellprice}, 
		#{productQuantity}, 
		#{indivDiscount}, 
		#{productCalprice})
	</insert>
	
</mapper>